.bgdiv {
    background-repeat: no-repeat;
    background-size: 100%;
    border: 0px;
    margin: 0px;
    padding: 0px;
    background-image: url('');
    background-image: url('img/bg.jpg');
}

body {
    border: 0px;
    margin: 0px;
    padding: 0px;
}

.btnDice {
    border: 0px;
    border: 1px dotted red;
    margin: 0px;
    padding: 0px;
    background-color: transparent;
    text-align-last: center;
    position: absolute;
    font-family: 'Sriracha', cursive;
    border-radius: 20%;
}
