.bgdiv {
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    border: 0px;
    margin: 0px;
    padding: 0px;
    background-image: url('img/bg.jpg');
}

body {
    border: 0px;
    margin: 0px;
    padding: 0px;
}

.cards {
    border: 3px solid black;
    border: 0px;
    margin: 0px;
    padding: 0px;
    color: black;
    position: absolute;
    border-radius: 30%;
    background-size: 100%;
}
