.bgdiv {
    background-image: url('https://morningm00n.github.io/bg/img/readysetbet/bg.png');
    }

header {
    background-image: url('https://morningm00n.github.io/bg/img/readysetbet/bg.png');
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }


.centered{
    text-align: center;
}

      
table {
    border-collapse: collapse;
    background-image: url('https://morningm00n.github.io/bg/img/readysetbet/bg.png');

  }

.btnTrans {
    border: 1px dotted red;
    border: 0px;
    margin: 0px;
    padding: 0px;
    background-color: transparent;
    text-align-last: center;
    position: absolute;
    font-family: 'Sriracha', cursive;
}

.btnCircle {
    border: 1px dotted red;
    border: 0px;
    margin: 0px;
    padding: 0px;
    background-color: transparent;
    text-align-last: center;
    position: absolute;
    font-family: 'Sriracha', cursive;
    border-radius: 100%;
    
}

.sltTrans {
    border: 1px dotted red;
    border: 0px;
    margin: 0px;
    padding: 0px;
    background-color: transparent;
    position: absolute;
    text-align-last: center;
    -webkit-appearance: none;
    font-family: 'Sriracha', cursive;
}


.fontWIN{
    color:yellow;
    font-family: Garamond, serif;
    text-align: center;
}

.fontPLACE{
    color:silver;
    font-family: Garamond, serif;
    text-align: center;
}

.fontSHOW{
    color:goldenrod;
    font-family: Garamond, serif;
    text-align: center;
}