body {
    padding: 3px;
    margin: 3px
}

table.result {
    border: 1px solid #444444;
    border-collapse: collapse;
}

tr.result,
th.result,
td.result {
    border: 1px solid #444444;
    padding: 5px;
    word-break: break-all;
    text-align: center
}
