.bgdiv {
    touch-action: none;
    background-repeat: no-repeat;
    background-size: 100%;
    border: 0px;
    margin: 0px;
    padding: 0px;
}

.wrapper {
    overscroll-behavior: none
}

body {
    touch-action: none;
    border: 0px;
    margin: 0px;
    padding: 0px;
}

.btnTrans {
    border: 1px dotted red;
    border: 0px;
    margin: 0px;
    padding: 0px;
    background-color: transparent;
    text-align-last: center;
    position: absolute;
    font-family: 'Sriracha', cursive;
}

.sltTrans {
    border: 1px dotted red;
    border: 0px;
    margin: 0px;
    padding: 0px;
    background-color: transparent;
    position: absolute;
    text-align-last: center;
    -webkit-appearance: none;
    font-family: 'Sriracha', cursive;
}

table {
    margin: 0px;
    border-collapse: separate;
    border-spacing: 5px;
}

th,
td {
    border: 1px solid black;
    margin: 0px;
    font-family: 'Nanum Pen Script', cursive;
}
